.Blog {
    display: flex;
    // position: absolute;
    background-color: rgb(24, 24, 24);
    color: rgb(231, 231, 231);
    height: 100%;
    width: 100%;


    &__nav {
        width: 12.5rem;
        border: 0.5px solid rgb(38, 38, 38);
        overflow: auto;
    }


    &__content {
        margin: 0;
        background-color: rgb(29, 29, 29);
        flex: 1 0 auto;
        // overflow: auto;
    }
}